/* OVERALL FIXES */

:root {
  --head-foot-background-color: #40528f;
  --main-background-color: #eff5fc;
  --h1-color: #c3d8f4;
  font-family: epilogue;
  --main-color: #fff;
}

img {
  max-width: 100%;
}

* {
  margin: 0%;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--h1-color);
}

h1 {
  color: var(--h1-color);
  background-color: none;
  margin: 0;
}

/* HEADER SECTION */

header {
  background-color: var(--head-foot-background-color);
}

header h1 {
  font-family: lobster;
}

/* header .menu-section ul li {
  padding: 20px 10px 20px 10px;
  display: inline-block; */
/* } */

.header-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-left: 10px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* MAIN BODY SECTION */

main {
  height: auto;
  background-color: var(--main-background-color);
  padding: 10px;
}

.section-header {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.content {
  display: flex;
  line-height: 2;
  border: 10px var(--head-foot-background-color);
  border-style: solid;
  background-color: var(--head-foot-background-color);
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.profile-pic {
  float: left;
  width: 50%;
  margin-right: 30px;
  aspect-ratio: unset;
}

/* TECHNICAL TOOLBOX SECTION */

.content li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  list-style: none;
}

/* PROJECT SECTION */

.project-text {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
}

.content .first-project-picture {
  width: 55%;
}

.content img {
  width: 35%;
}

/* CONTACT INFO SECTION */

.contact-info ul {
  margin-left: 850px;
  width: 50%;
  padding-top: 15px;
  text-align: left;
}

.contact-info ul li {
  padding: 5px;
}

/* FOOTER SECTION */

footer {
  background-color: var(--head-foot-background-color);
  padding: 25px 25px 40px 25px;
  color: var(--h1-color);
}

footer a {
  float: right;
}

footer p {
  float: left;
}

/* TABLET AND SMALLER SETTINGS  */

@media screen and (max-width: 900px) {
  .menu-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .content {
    display: flex;
    line-height: 2;
    border: 10px var(--head-foot-background-color);
    border-style: solid;
    background-color: var(--head-foot-background-color);
    color: white;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .content ul {
    display: flex;
    flex-direction: column;
    margin-left: -200px;
  }

  .profile-pic {
    width: 75%;
  }

  .content .first-project-picture {
    width: 75%;
  }

  .content img {
    width: 55%;
  }
}
