:root {
    --color-background: red ;
    --alt-color-background: orange;

}

header {
    background-color: var(--color-background);
    width: auto;
    height: 50px;
}

main {
    background-color: var(--alt-color-backgroundi);
    margin: 50px;
}
footer {
    background-color: var(--color-background);
    margin: 20px;
}