/* OVERALL FIXES */

:root {
    --head-foot-background-color: #40528f;
    --main-background-color: #EFF5FC;
    --h1-color: #C3D8F4;
    font-family: ubuntu;
    --main-color: #fff;
}

main {
   padding: 10px;
}


* {
    margin: 0%;
    list-style:none;
}

a {
    text-decoration: none;
    color: var(--h1-color);
}

h1 {
    color:var(--h1-color);
    background-color: none;
    margin: 0;
}

/* HEADER SECTION */

header {
    background-color: var(--head-foot-background-color);
    padding: 0px 20px;
    display: flex;
}

header h1 {
    display: inline-block;
    font-family: fasthand;
}

header li {
    display: inline-block;
    padding: 20px 10px 20px 10px;
}

header .menu-section {
    float:right;
}

/* MAIN BODY SECTION */

main {
    height: auto;
    background-color: var(--main-background-color);
}

.section-header {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.content {
    display: flex;
    line-height: 2;
    border: 10px var(--head-foot-background-color);
    border-style: solid;
    background-color: var(--head-foot-background-color);
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.profile-pic {
    float: left;
    width: 25%;
    margin-right: 30px;
    aspect-ratio: unset;
}


/* TECHNICAL TOOLBOX SECTION */

.list-items {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    list-style: none;
}

.project-text {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
  
}

/* CONTACT INFO SECTION */

.contact-info ul {
   margin-left: 850px;
    width: 50%;
    padding-top: 15px;
    text-align: left;
}

.contact-info ul li {
    padding: 5px;
}

/* FOOTER SECTION */

footer {
   background-color: var(--head-foot-background-color);
   padding: 25px 25px 40px 25px;
   color: var(--h1-color);
}

footer a {
    float: right;
}

footer p {
    float: left;
}

/* TABLET AND SMALLER SETTINGS */

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  

#projects .card:target .project-description {
    display: block;
}

#contact-info ul {
    
     padding-top: 15px;
     text-align: left;
 }





}