/* OVERALL FIXES */

:root {
    --head-foot-background-color: #40528f;
    --main-background-color: #EFF5FC;
    --h1-color: #C3D8F4;
    font-family: ubuntu;
    --main-color: #fff;
}

* {
    margin: 0%;
    
    list-style:none;
}

a {
    text-decoration: none;
    color: var(--h1-color);
}

h1 {
    color:var(--h1-color);
    background-color: none;
}

/* HEADER SECTION */

header {
    padding: 20px;
    background-color: var(--head-foot-background-color);
    
    
}

header h1 {
    display: inline-block;
    font-family: fasthand;

}

header ul {
    list-style: none;
    
    
}

header li {
    display: inline-block;
    padding: 20px 10px 20px 10px;
 
}

header .menu-section {
    float:right;
}

/* MAIN BODY SECTION */

main {
    height: auto;
    text-align: center;
    background-color: var(--main-background-color);
    background-image: no-repeat;
}

#about-me,
#projects,
#contact-info {
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* GET TO KNOW ME SECTION */

.content {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    border: 10px var(--head-foot-background-color);
    border-style: solid;
    background-color: var(--head-foot-background-color);
    padding: 7px 0px 70px 5px;
}

.profile-pic {
    float: left;
    width: 45%;
    margin-right: 30px;
}

p {
   
}

/* TECHNICAL TOOLBOX SECTION */

.toolbox {
    padding: 30px;
}

/* PROJECTS SECTION */

.card {
    border-style: solid;
    border-width: 1px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;
    cursor: pointer;
}

/* This item creates a break between first project and rest */
.break {
    flex-basis: 100%;
    height: 0;
    padding-bottom: 100px;
  }

#projects {
flex: 2;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex;
  justify-content: space-evenly;
}


#projects .card .project-description {
    display: none;
}

#projects .card:hover .project-description {
    display: flex;
    padding: 5px 0px 5px 0px;
}

#projects .card p {
    margin-left: 100px;
}

/* CONTACT INFO SECTION */

#contact-info ul {
   margin-left: 850px;
    width: 50%;
    padding-top: 15px;
    text-align: left;
}

#contact-info ul li {
    padding: 5px;
}

/* FOOTER SECTION */

footer {
   background-color: var(--head-foot-background-color);
   padding: 25px 25px 40px 25px;
   color: var(--h1-color);
}

footer a {
    float: right;
}

footer p {
    float: left;
}

/* TABLET AND SMALLER SETTINGS */

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  

#projects .card:target .project-description {
    display: block;
}

#contact-info ul {
    
     padding-top: 15px;
     text-align: left;
 }





}