/* OVERALL FIXES */

:root {
    --color-background: #b3b3b3;
    --h1-color: blue;
    font-family: ubuntu;
}

* {
    margin: 0%;
    background-color: var(--color-background);
    list-style:none;
}

a {
    text-decoration: none;
}

h1 {
    color:var(--h1-color);
}

/* HEADER SECTION */

header {
    padding: 20px;
}

header h1 {
    display: inline-block;
    font-family: fasthand;

}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

header .menu-section {
    float:right;
    display: inline-block;

}

/* MAIN BODY SECTION */

main {
    height: 500px;
    text-align: center;
}

.content {
    display: inline-block;
}
.menu-section {
    padding-top: 20px;
}
#about-me,
#projects,
#contact-info {
    padding-top: 30px;
    margin-top: 20px;
}

#contact-info ul {
   
    width: 3    0%;
    margin: 0px auto 0px auto;
    padding-top: 15px;
}

/* FOOTER SECTION */

footer {
   
}

@media